<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/users}" th:object="${user}"
		method="post">
		<table>
			<tr>
				<td>ID</td>
				<td><input type="number" name="id" th:value="${sid}" 
					readonly ="readonly" /></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text"  name="email""/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>

	<table>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Email</td>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
		</tr>
	</table>
</body>
</html>